body {
	margin: 0;
	padding: 10px 0px;
	overflow-y: scroll;
}

h2{
  margin: 10px 20px;
}

h3.a{
  margin: 10px 20px;
  text-align: center;
  font-family: Martian Mono;
  font-size: 16px;
}

p.a{
  margin: 10px 20px;
  text-align: center;
  font-family: Martian Mono;
  font-size: 14px;
}

p.a2{
  text-align: left;
  font-family: Itim;
  font-size: 16px;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

p.a3{
  text-align: left;
  font-family: Itim;
  font-size: 16px;
  padding-left: 50px;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

p.a4{
  text-align: left;
  font-family: Itim;
  font-size: 16px;
  display: flex;
  margin: 0 auto;
  width: 95%;
  padding-left: 20px;
}

p.a5{
  font-family: Itim;
  margin-bottom: 2px;
  font-size: 14px;
}

ol.aa{
  text-align: left;
  font-family: Itim;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  width: 90%;
  padding-left: 10px;
}

ul.aa{
  text-align: left;
  font-family: Itim;
  font-size: 16px;
  padding-left: 10px;
  display: block;
  margin: 0 auto;
  width: 90%;
}

iframe{
        display: block;  /* iframes are inline by default */
        height: 60vh;  /* Set height to 100% of the viewport height */
        min-width: 60vw;  /* Set width to 100% of the viewport width */
        border: none; /* Remove default border */
		border-radius: 20px;
        background: lightyellow; /* Just for styling */
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
	
iframe.a{
        display: block;  /* iframes are inline by default */
        height: 85vh;  /* Set height to 100% of the viewport height */
        width: 90vw;  /* Set width to 100% of the viewport width */
        border: none; /* Remove default border */
		border-radius: 20px;
        background: lightyellow; /* Just for styling */
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    }
	
.a1 {
  display: flex;
  margin: 0 auto;
  width: 95%;
  margin-bottom: 60px;
}

.myDiv1 {
  background-image: linear-gradient(#ccf7a6, #effae6);    
  text-align: center;
  max-width: 16%;
  margin: 0 auto;
  min-width: 15%;
  border-radius: 25px;
  overflow-x: hidden;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}

th {
  border: 1px solid #4cb9fc;
  text-align: center;
  padding: 4px;
  font-family: Martian Mono;
  font-size: 12px;
}

td {
  border: 1px solid #4cb9fc;
  text-align: center;
  padding: 4px;
  font-family: Itim;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

ul {
  padding-left: 20px;
}

li{
  text-align: left;
}

.divA {
  display: flex;
  margin: 0 auto;
  width: 90vw;
}

.div1 {
  border-left: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;   
  padding: 10px;
  text-align: center;
  max-width: 45%;
  margin: 0 auto;
  min-width: 45%;
  overflow-x: scroll;
  overflow-y: scroll;
}

.div1a {  
  border-left: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
  border-bottom: 2px solid #e3e3e3;
  padding: 10px;
  text-align: center;
  max-width: 45%;
  margin: 0 auto;
  min-width: 45%;
}

.div2 {
  padding: 10px;
  border-left: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
  background-color: white;    
  text-align: center;
  max-width: 80%;
  margin: auto;
  min-width: 80%;
  overflow-x: scroll;
}

.div3 {
  padding: 10px;
  border-left: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
  max-width: 80%;
  margin: auto;
  min-width: 80%;
  overflow-x: visible;
}

img{
  max-height: 300px;
}

#myBtn {
  font-size: 10px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}